In [2]:
import pandas as pd

In [10]:
df_sales = pd.read_csv('data\sales_dataset.csv')

In [11]:
df_sales

,Product Name,Category,Sale Price,Quantity Sold,Month,Customer Name
0,T-shirts,Clothing,10.99,20,December,John Smith
1,Levi's Jeans,Clothing,59.99,18,April,Samantha Davis
2,Dyson Vacuum,Home,599.99,2,August,David Williams
3,Sunglasses,Accessories,21.22,15,May,Kelly Williams
4,Headphones,Electronics,8.99,40,October,Chris Brown
5,Water bottles,Accessories,14.14,22,August,Amy Lee
6,Backpacks,Accessories,18.99,27,July,William Smith
7,Hats,Accessories,29.99,35,September,Emily Davis
8,Books,Media,11.99,18,March,Robert Johnson
9,Toys,Toys,17.99,29,December,Kimberly White
10,Apples,Food,10.99,32,June,Michael Johnson
11,Lawn mower,Outdoor,123.99,24,November,Samantha Davis
12,Samsung Galaxy,Electronics,899.99,5,February,Jane Doe
13,iPhone 13,Electronics,1299.99,3,December,Mark Johnson
14,Lululemon Yoga Mat,Fitness,89.99,15,April,Kelly Williams
15,Picture frames,Home decor,41.99,2,August,Sarah Anderson
16,Candles,Home decor,3.49,19,November,Kevin Lee
17,Apple Watch,Electronics,399.99,4,February,Robert Johnson
18,Oakley Sunglasses,Accessories,149.99,12,July,Kimberly White
19,Fitbit Charge 5,Fitness,149.99,9,September,Michael Johnson
20,Harry Potter,Media,15.99,25,February,John Smith
21,Phone cases,Electronics,12.04,25,May,Mark Johnson
22,Nest Thermostat,Home,249.99,6,June,Elizabeth Brown
23,Sony PlayStation 5,Electronics,499.99,4,November,John Smith
24,Michael Kors Handbag,Accessories,349.99,8,July,Jane Doe
25,Ninja Blender,Kitchen,129.99,10,March,Chris Brown
26,Under Armour T-Shirt,Clothing,29.99,30,December,Amy Lee
27,Amazon Echo Dot,Electronics,39.99,20,March,Emily Davis
28,Patagonia Fleece,Clothing,119.99,6,May,Robert Johnson
29,Schwinn Exercise Bike,Fitness,499.99,3,September,Michael Johnson
30,Cuisinart Food Processor,Kitchen,199.99,4,December,Samantha Davis
31,iRobot Roomba Vacuum,Home,399.99,2,April,David Williams
32,Sonos Soundbar,Electronics,799.99,1,August,Elizabeth Brown

In [12]:
df_sales.shape

(33, 6)

In [13]:
total_sales = df_sales['Sale Price'] * df_sales['Quantity Sold']

In [16]:
print(total_sales)

0      219.80
1     1079.82
2     1199.98
3      318.30
4      359.60
5      311.08
6      512.73
7     1049.65
8      215.82
9      521.71
10     351.68
11    2975.76
12    4499.95
13    3899.97
14    1349.85
15      83.98
16      66.31
17    1599.96
18    1799.88
19    1349.91
20     399.75
21     301.00
22    1499.94
23    1999.96
24    2799.92
25    1299.90
26     899.70
27     799.80
28     719.94
29    1499.97
30     799.96
31     799.98
32     799.99
dtype: float64

In [19]:
df_sales['Category'].value_counts()

Category
Electronics    8
Accessories    6
Clothing       4
Home           3
Fitness        3
Media          2
Home decor     2
Kitchen        2
Toys           1
Food           1
Outdoor        1
Name: count, dtype: int64